.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*

# Ignore node_modules
node_modules/

# Ignore .env files
.env

# Ignore Firebase Admin SDK service account key
nusplan-80b88-firebase-adminsdk-fbsvc-e48de645a5.json

# Ignore Past Version
past_vers